.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 15px 0px;
}
svg path{
  outline: none;
}
.pagination button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 6px 12px;
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.pagination button:hover{
  background-color: var(--light);
}

@media screen and (max-width: 1024px) {
  .cards-container{
    grid-template-columns: 1fr 1fr;
  
  }
}
@media screen and (max-width: 480px) {
  .cards-container{
    grid-template-columns: 1fr;
  
  }
}